<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{peerProf.firstName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ng-container *ngFor='let msg of msgList' >
        <ion-item text-wrap *ngIf='msg.fromID != myid; else peermsg'>
          <ion-avatar item-left>
            <img src="assets/imgs/avatar.png"></ion-avatar>	
          <h2>{{msg?.fromName}}</h2>	
          <p>{{msg?.msg}}</p>
        </ion-item>
        <ng-template #peermsg>
          <ion-item class="chat_right">
            <ion-avatar item-right>
                <img src="assets/imgs/avatar.png"></ion-avatar>	
            <h2>{{msg?.fromName}}</h2>	
            <p>{{msg?.msg}} </p>
          </ion-item>      
        </ng-template>
    
      </ng-container>

</ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <ion-textarea [(ngModel)]="msg" placeholder="Enter message"></ion-textarea>
          </ion-col>
          <ion-col col-3>
            <button ion-button clear (click)="send()">Submit</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
